.n1{
    border: black;
    background-color: black;
    color: white;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#b1 {
  border-radius: 999px;
  padding: 10px 22px;   
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: transparent;
  color: #e5e7eb;
}

#b0 {
  border-radius: 999px;
  padding: 10px 22px;
  border: 0;
  background: #f3f4f6;
  color: #111827;
}

.b2{
border: 0;
  background:black;
  color: white;
  font-size: larger;
}

#i1{
   color:white;
}


body{
    background-color: black;
}

#b1:hover{
    color: blue;
}

#b0:hover{
    color: blue;
}

.b2:hover{
    color:blue;
}

.n2{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    gap:5%;
}

.d2{
   
    font-size:xx-large;
}

.p1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.b3{
    border-radius: 999px;
  padding: 10px 22px;
  border: 0;
  background: #f3f4f6;
  color: #111827;
  font-size: larger;
}

.b3:hover{
    background-color: black;
    color: white;
}


.d5{
   
   
   margin:30px 10px 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}